$Desaturated-Dark-Cyan: hsl(180, 29%, 50%);
//Neutral

$Light-Gray-Cyan: hsl(180, 52%, 96%); // (Background)
$Light-Grayish-Cyan: hsl(180, 31%, 95%); //(Filter Tablets)
$Dark-Grayish-Cyan: hsl(180, 8%, 52%);
$Very-Dark-Grayish-Cyan: hsl(180, 14%, 20%);
